@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.ubuntu{
  font-family: 'Ubuntu', sans-serif;
}

@layer base{
  body{
    @apply font-mono;
  }
}
@layer components{
  /* *{
    @apply duration-300 !important;
  } */
  /* .btn{
    @apply rounded-none;
  } */

  .mark{
    @apply outline-dashed outline-red-500;
  }

  .slide{
    @apply h-44;
  }

  .visible_byte{
    @apply opacity-100 ;
  }
  .invisible_byte{
    @apply opacity-0 ;
  }
}

/* .hljs{
  background: #000 !important;
} */

.byte{
  border-right: 1px solid transparent;
  animation: byte-animate 300ms ease-in forwards;
}

@keyframes byte-animate{
  /* from{
    opacity: 0;
    border-color: white;
  }
  to{
    opacity: 1;
    border: transparent
  } */
  0%{
    opacity: 0;
    border-color: transparent;
  }

  50%{
    opacity: 1;
    border-color: white;
  }

  100%{
    border-color: transparent;
  }
}
